@import url('./font.css');
html {
    /* Theme colors */
    --color-light: #ddd;
    --text-grey: #343E3D;
    --primary-color: #AEDCC0;
    --secondary-color: rgb(74, 134, 84);
    --tertiary-color: #38E4AE;
    --bg-color: #0f0f0f;
    --text-dark-light: #607466;
    --mid-night: #104f55;
    /* Gradient Color */
    --sky: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    /* 1rem == 1px */
    font-size: 62.5%;
    /* Font values */
    --Abel : Abel, cursive;
    --Anton : Anton-Regular, cursive;
    --Josefin : JosefinSans-VariableFont_wght, cursive;
    --Lexend : LexendDeca-Regular, cursive;
    --Livvic : Livvic-Black, cursive;
}
body {
    font-family: var(--Abel);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global classes */
h1 {
    font-size: 4rem;
    font-family: var(--Lexend);
}
h2 {
    font-family: var(--Lexend);
    font-size: 3.2rem;
}
h3 {
    font-family: var(--Lexend);
    font-size: 2.8rem;
}
h4 {
    font-family: var(--Lexend);
    font-size: 2.8rem;
}
h5 {
    font-size: 2.4rem;
}
h6, p {
    font-family: var(--Lexend);
    font-size: 1.8rem;
}
span {
    font-family: var(--Abel);
    font-size: 1.6rem;
}
h1, h2 , h3, h4, h5, h6 {
    padding: 1rem 0;
}
.mg-sm {
    margin: 1.5rem;
}
.mg-md {
    margin: 3rem;
}
.p-top-md {
    padding-top:3rem ;
}
a {
    text-decoration: none;
    outline: none;
    font-size: 1.8rem;
}
.list-none {
    list-style: none;
}
.text-light {
    color: var(--color-light);
}
.text-gray {
    color: var(--text-grey);
}
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
i {
    color: var(--secondary-color);
}
.btn {
    color: #f0f0f0;
    letter-spacing: 2px;
    border: 1px solid var(--tertiary-color);
    outline: none;
    background-color: var(--mid-night);
    border-radius: 3.2rem;
    padding: 1.6rem 4.8rem;
    font-family: var(--Livvic);
    position: relative;
    text-transform: uppercase;
    transition: all .2s;
    cursor: pointer; 
}
.btn:hover {
    border: 1px solid var(--mid-night);
    outline: none;
    background-color: var(--tertiary-color);
}
.mt-md {
    margin-top: 1rem;
}

/* Navigation */
.nav {
    height: 0rem;
    min-height: 10vh;
    font-family: var(--Abel);
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav .nav-menu {
    position: relative;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-item {
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    position: relative;
}
.nav .nav-item:hover {
    background-color: var(--mid-night);
}
.nav .nav-item:hover a{
    color:var(--color-light)
}
.nav .social {
    padding: 1.8rem 0;
    font-size: 2.4em;
}
.nav .social i {
    padding: 0.5rem;
}
.nav .social i:hover {
    color: var(--mid-night)
}
.nav-menu .nav-brand {
    align-self: flex-start;
}
.nav .nav-brand a {
    font-size: 3.2rem;
    padding: 1.6rem 0;
    text-transform: uppercase;
    display: inline-block;
    font-family: var(--Lexend);
    letter-spacing: 2px;
}
.nav .toggle-collapse {
    position: absolute;
    width: 90%;
    top: 1em;
    cursor: pointer;
    display: none;
    outline: none;
}
.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.8rem 0;
}
.nav .toggle-collapse .toggle-icons i {
    font-size: 3em;
}
.collapse {
    height: 100vh;
}
/* /Navigation */

/* Main */

/* Site hero */
.site-title {
    background-image: url('../assets/Background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* /Site hero */
/* Blog Section */
.blog {
    background-image: url('../assets/Abract01.png');
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    height: 90vh;
}
.blog-content {
    background-color: rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    text-align: center;
    width: 80%;
    padding-bottom: 3rem;
    margin: 3rem auto;
    box-shadow: 5px 15px 20px var(--mid-night);
}
.btn-blog {
    color: #130d0d;
    background: var(--sky);
}
.blog-title span {
    display: block;
}
.container {
    position: relative;
    margin: 1em 1rem; 
}
.owl-navigation {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}
/* /Blog Section */
/* Site Content  */
.site-content {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 70% 30%;
}
.posts {
    padding: 1rem 2rem;
}
.post-content {
    width: 100%;
    border-bottom: 1px solid var(--mid-night);
    margin-bottom: 3em;
}
.post-image {
    position: relative;
}
.post-caption {
    position: absolute;
    bottom: 0;
    border-radius: 50px;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 1rem 3rem;
    background-image: var(--sky);
}
.post-title {
    margin: 2rem 0;
}
.post-title p{
    text-align: justify;
    padding: 1rem 0.5rem;
}
.post-image img {
    width: 100%;
    transition: 0.4s;
}
.post-image img:hover {
    transform: scale(1.04);
}
.btn-post {
    color: var(--mid-night);
    letter-spacing: 2px;
    border-radius: 0;
    background-image: var(--sky);
}
/* /Site Content  */
/* /Main */

/* Media Queries */
@media only screen and (max-width: 900px) {
html {
    font-size: 60%;
}
.nav .nav-item{
    padding: 1rem 0.8rem;
}
}
@media only screen and (max-width: 750px) {
    html {
        font-size: 50%;
    }
    .post {
        padding: 0.5rem 0.5rem;
    }
    .site-content {
        margin: 1rem 1rem;
    }
    .nav .nav-menu, .nav .nav-items   {
        flex-direction: column;
    }
    .nav .toggle-collapse {
        display: initial;
    }
}
/* /Media Queries */